<div id="<%= dom_id budget %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t(.name)%></strong>
    <%= budget.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t(.description)%></strong>
    <%= budget.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t(.margin)%></strong>
    <%= budget.margin %>
  </p>

</div>
